include ../modules/main.pug
+main('Ortis')
include ../modules/header.pug
main.main.main-homepage
	.main-homepage__wrap
		include ../modules/topbar.pug
		video(width='100%', height='auto', autoplay='autoplay', loop='loop', preload='auto')
			source(src='video/back.mp4')
		include ../modules/topslider.pug
	include ../modules/submenu.pug
	
	.catalog
		.container
			h2.catalog__title Каталог
			.flex-wrap
				a(href="#").catalog__item
					include ../../img/icon-production-noact.svg
					h2.catalog__item-title #{prod}
				a(href="#").catalog__item
					include ../../img/icon-shtukatur-noact.svg
					h2.catalog__item-title #{shtuk}
				a(href="#").catalog__item
					include ../../img/icon-snekpair-noact.svg
					h2.catalog__item-title #{shnek}
				a(href="#").catalog__item
					include ../../img/icon-torket-noact.svg
					h2.catalog__item-title #{torket}
				a(href="#").catalog__item
					include ../../img/icon-rashod-noact.svg
					h2.catalog__item-title #{rashod}
				a(href="#").catalog__item
					include ../../img/icon-production-noact.svg
					h2.catalog__item-title #{oborud}
				a(href="#").catalog__item
					include ../../img/icon-service-noact.svg
					h2.catalog__item-title #{serv}
				a(href="#").catalog__item
					include ../../img/icon-arenda-noact.svg
					h2.catalog__item-title #{rent}
				a(href="#").catalog__item
					include ../../img/icon-smesi-noact.svg
					h2.catalog__item-title #{syh}
	
	include ../modules/pop-goods.pug
	+pop-goods('Популярные товары')
	include ../modules/advant.pug
	include ../modules/reviews.pug
	include ../modules/news.pug
	+news('Новости', 'Все новости')
include ../modules/footer.pug
include ../modules/site-map.pug
script(src="js/libs.min.js")
script(src="js/scripts.js")
