.page-footer
	.container
		.page-footer__topbar
			.flex-wrap
				.page-footer__main
					.page-footer__logo-wrap.flex-wrap
						.page-footer__logo
							img(src="img/logo-white.svg")
						form.page-footer__form
							input.page-footer__input
							button(type="submit").page-footer__btn
					.flex-wrap
						.page-footer__item.page-footer__item--prod
							h3.page-footer__subtitle
							ul
								li
									a(href="#") Растворонасосы
								li
									a(href="#") Пневмотранспортные системы
								li
									a(href="#") Растворосмесители
								li
									a(href="#") Бетоносмесители
								li
									a(href="#") Оборудование для пенобетона
								li
									a(href="#") Шпаклевочные станции
								li
									a(href="#") Инструмент
								li
									a(href="#") Силосные системы
								li
									a(href="#") Оборудование для производства сухих смесей
								li
									a(href="#") Строительные материалы
						.page-footer__item
							ul
								li
									a(href="#") #{prod}
								li
									a(href="#") #{shtuk}
								li
									a(href="#") #{shnek}
								li
									a(href="#") #{torket}
								li
									a(href="#") #{rashod}
								li
									a(href="#") #{oborud}
								li
									a(href="#") #{serv}
								li
									a(href="#") #{rent}
								li
									a(href="#") #{syh}
						.page-footer__item
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Фото
								li
									a(href="#") Видео
								li
									a(href="#") Информация
								li
									a(href="#") Партнеры
								li
									a(href="#") Контакты
				.page-footer__callback
					a.page-footer__tel(href="tel:88001004627") 8 (800) 100-46-27
					p Многоканальный, бесплатно по всей России
					p Будни: 9:00–19:00, выходной: сб, вс. 
					p.page-footer__address 123112, г. Москва, Бизнес Парк "Румянцево", корпус Д, подъезд №19, этаж 7, офис 710
					a.page-footer__mail(href="mailto:at@gk-ortis.ru") at@gk-ortis.ru
					a.page-footer__mail(href="mailto:ag@gk-ortis.ru") ag@gk-ortis.ru
					a.page-footer__callback-btn Обратный звонок
		.page-footer__bottombar
			span.page-footer__copy © Copyright 2017
			a.page-footer__map(href="#") Карта сайта
			.page-footer__dev
				span Создание и продвижение
				img(src="img/soobwa.svg")