footer.footer
	.footer__topbar
		.container
			.flex-wrap
				.footer__main
					.footer__logo-wrap.flex-wrap
						a.footer__logo(href="/")
							img(src="img/logo-white.svg")
						form.footer__form
							input.footer__input(placeholder="Поиск по сайту")
							button(type="submit").footer__btn
					.flex-wrap.footer__wrap-item
						.footer__item.footer__item--prod
							h3.footer__subtitle Продукция
							ul
								li
									a(href="#") Растворонасосы
								li
									a(href="#") Пневмотранспортные системы
								li
									a(href="#") Растворосмесители
								li
									a(href="#") Бетоносмесители
								li
									a(href="#") Оборудование для пенобетона
								li
									a(href="#") Шпаклевочные станции
								li
									a(href="#") Инструмент
								li
									a(href="#") Силосные системы
								li
									a(href="#") Оборудование для производства сухих смесей
								li
									a(href="#") Строительные материалы
						.footer__item
							ul
								li
									a(href="#") #{prod}
								li
									a(href="#") #{shtuk}
								li
									a(href="#") #{shnek}
								li
									a(href="#") #{torket}
								li
									a(href="#") #{rashod}
								li
									a(href="#") #{oborud}
								li
									a(href="#") #{serv}
								li
									a(href="#") #{rent}
								li
									a(href="#") #{syh}
						.footer__item
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Фото
								li
									a(href="#") Видео
								li
									a(href="#") Информация
								li
									a(href="#") Партнеры
								li
									a(href="#") Контакты
				.footer__callback
					a.footer__tel(href="tel:88001004627") 8 (800) 100-46-27
					p Многоканальный, бесплатно по всей России
					p Будни: 9:00–19:00, выходной: сб, вс. 
					p.footer__address 123112, г. Москва, Бизнес Парк "Румянцево", корпус Д, подъезд №19, этаж 7, офис 710
					a.footer__mail(href="mailto:at@gk-ortis.ru") at@gk-ortis.ru
					a.footer__mail(href="mailto:ag@gk-ortis.ru") ag@gk-ortis.ru
					a.footer__callback-btn.common-btn.common-btn--pink Обратный звонок
	.footer__bottombar
		.container.flex-wrap
			span.footer__copy © Copyright 2017
			a.footer__map(href="#") Карта сайта
			.footer__dev
				span Создание и продвижение
				img(src="img/soobwa.svg")