.submenu
	.container.flex-wrap
		a.submenu__link(href="#" data-drop="for-one") #{prod}
		a.submenu__link(href="#" data-drop="for-two") #{shtuk}
		a.submenu__link(href="#" data-drop="for-three") #{shnek}
		a.submenu__link(href="#" data-drop="for-four") #{torket}
		a.submenu__link(href="#" data-drop="for-five") #{rashod} 
		a.submenu__link(href="#" data-drop="for-six") #{oborud}
		a.submenu__link(href="#" data-drop="for-seven") #{serv} 
		a.submenu__link(href="#" data-drop="for-eight") #{rent}
		a.submenu__link(href="#" data-drop="for-nine") #{syh}